<form action="<%= goals_url %>" method="POST">
  <%= auth_token %>
  <label for="goal_title">Title</label>
  <input type="text"
         id="goal_title"
         name="goal[title]"
         value="<%= goal.title %>">

  <label for="goal_content">Tell us more.</label>
  <textarea id="goal_content"
            name="goal[content]"><%= goal.content %></textarea>

  <label for="goal_private">Private</label>
  <input type="hidden" name="goal[is_private]" value="false">
  <input type="checkbox"
         id="goal_private"
         name="goal[is_private]"
         value="true">

  <button id="goal_submit">Submit</button>

</form>